<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="css/ionic.app.min.css">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="cordova.js"></script>
  <script src="js/circularInfo.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-app="starter">
  <ion-pane ng-controller="IndexCtrl">
    <ion-header-bar class="calm-bar">
      <h1>Circular</h1>
    </ion-header-bar>
    <ion-content>
      <div class="bar bar-header item-input-inset">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="number" placeholder="Digite o horário da preferência" ng-model="time" data-ng-keyup="find(time,chosenWeek)">
      </div>
      <div id="circularWeek">
        <div class="dropdown-selected">
          <select>
            <option ng-change="find(time,chosenWeek)" ng-model="chosenWeek" ng-value="2" selected>Todos os dias</option>
            <option ng-change="find(time,chosenWeek)" ng-model="chosenWeek" ng-value="2">Segunda a Sexta</option>
            <option ng-change="find(time,chosenWeek)" ng-model="chosenWeek" ng-value="2">Sábado</option>
         </select>
        </div>
      </div>
      <div class="list" ng-repeat="(week,weekVal) in circular">
        <div class="calm-title">
          {{week}}
        </div>
        <div ng-repeat="(shift,shiftVal) in weekVal" ng-show="shiftVal.length > 0">
          <div class="item item-divider">
            {{shift}}
          </div>
          <div class="row" ng-repeat="times in shiftVal">
            <div class="col" ng-repeat="time in times">
              <div class="item">
                {{time}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</body>

</html>

